# Importing and Formatting the Data

In [2]:
# Imports
from PIL import Image
import numpy as np
import pandas as pd
import os
import re
from datetime import datetime

**I want to loop through files in the directory and import them
<br />
Loop through files using OS functions**

In [3]:
# Manually get the directories
max_directory_in_str = "/Users/sabhyachhabria/Desktop/GitHub/Weather-Instablity-Analysis/data/maxTempsData"

directory = os.fsencode(max_directory_in_str)
maxImageFiles = []

for file in os.listdir(max_directory_in_str):
    filename = os.fsdecode(file)
    if filename.endswith(".tif"):
        maxImageFiles.append(filename)

**We now want to do the same for the min temp image files**

In [4]:
min_directory_in_str = "/Users/sabhyachhabria/Desktop/GitHub/Weather-Instablity-Analysis/data/minTempsData"

directory = os.fsencode(min_directory_in_str)
minImageFiles = []

for file in os.listdir(min_directory_in_str):
    filename = os.fsdecode(file)
    if filename.endswith(".tif"):
        minImageFiles.append(filename)

**The files in the (maxImageFiles) array are not sorted
<br />
We need to sort them by date
<br />
We want to sort the files chronologically - i.e. by date
<br />
Before we can do that, we have to extract the date from the filename**

In [5]:
print(maxImageFiles[100][18:26])
print(minImageFiles[100][18:26])

20090916
20080604

**All filenames have the same format - so extracting the date should be easy
<br />
All dates are stored in the 8 chars from index 18 through 26**

In [6]:
maxDates = []
minDates = []
for x in range(len(maxImageFiles)):
    # max dates
    date = maxImageFiles[x][18:26]
    match = re.search(r'\d{4}\d{2}\d{2}', date)
    d = datetime.strptime(match.group(), '%Y%m%d').date()
    maxDates.append(d)
    # min dates
    date = minImageFiles[x][18:26]
    match = re.search(r'\d{4}\d{2}\d{2}', date)
    d = datetime.strptime(match.group(), '%Y%m%d').date()
    minDates.append(d)

**Just making sure there is a 1-1 correspondence between the two lists**

In [7]:
for x in range(5):
    print(maxImageFiles[x] + " --> " + str(maxDates[x]))
print()
# Same for min
for x in range(5):
    print(minImageFiles[x] + " --> " + str(minDates[x]))

us.tmax_nohads_ll_20081020_float.tif --> 2008-10-20
us.tmax_nohads_ll_20060131_float.tif --> 2006-01-31
us.tmax_nohads_ll_20070517_float.tif --> 2007-05-17
us.tmax_nohads_ll_20060307_float.tif --> 2006-03-07
us.tmax_nohads_ll_20081216_float.tif --> 2008-12-16

us.tmin_nohads_ll_20060923_float.tif --> 2006-09-23
us.tmin_nohads_ll_20060112_float.tif --> 2006-01-12
us.tmin_nohads_ll_20081003_float.tif --> 2008-10-03
us.tmin_nohads_ll_20070228_float.tif --> 2007-02-28
us.tmin_nohads_ll_20070702_float.tif --> 2007-07-02

**We now want to add the filenames and the dates to a pandas DataFrame
<br />
First convert the lists to NumPy arrays**

In [8]:
np_maxImageFiles = np.asarray(maxImageFiles)
np_maxDates = np.asarray(maxDates)
df_maxFiles = pd.DataFrame({'FileNames':np_maxImageFiles, 'Dates':np_maxDates})
df_maxFiles.head()

                              FileNames       Dates
0  us.tmax_nohads_ll_20081020_float.tif  2008-10-20
1  us.tmax_nohads_ll_20060131_float.tif  2006-01-31
2  us.tmax_nohads_ll_20070517_float.tif  2007-05-17
3  us.tmax_nohads_ll_20060307_float.tif  2006-03-07
4  us.tmax_nohads_ll_20081216_float.tif  2008-12-16

In [9]:
# Same for min
np_minImageFiles = np.asarray(minImageFiles)
np_minDates = np.asarray(minDates)
df_minFiles = pd.DataFrame({'FileNames':np_minImageFiles, 'Dates':np_minDates})
df_minFiles.head()

                              FileNames       Dates
0  us.tmin_nohads_ll_20060923_float.tif  2006-09-23
1  us.tmin_nohads_ll_20060112_float.tif  2006-01-12
2  us.tmin_nohads_ll_20081003_float.tif  2008-10-03
3  us.tmin_nohads_ll_20070228_float.tif  2007-02-28
4  us.tmin_nohads_ll_20070702_float.tif  2007-07-02

**Now, after all of this processing, we want to sort the files by the date
<br />
We also want to reset the index so that the DF starts from 0 again**

In [10]:
# Now, after all of this processing, we want to sort the files by the date
df_maxFiles = df_maxFiles.sort_values('Dates')
df_maxFiles = df_maxFiles.reset_index(drop=True)
df_maxFiles.head(10)

                              FileNames       Dates
0  us.tmax_nohads_ll_20060101_float.tif  2006-01-01
1  us.tmax_nohads_ll_20060102_float.tif  2006-01-02
2  us.tmax_nohads_ll_20060103_float.tif  2006-01-03
3  us.tmax_nohads_ll_20060104_float.tif  2006-01-04
4  us.tmax_nohads_ll_20060105_float.tif  2006-01-05
5  us.tmax_nohads_ll_20060106_float.tif  2006-01-06
6  us.tmax_nohads_ll_20060107_float.tif  2006-01-07
7  us.tmax_nohads_ll_20060108_float.tif  2006-01-08
8  us.tmax_nohads_ll_20060109_float.tif  2006-01-09
9  us.tmax_nohads_ll_20060110_float.tif  2006-01-10

In [11]:
# Same for min
df_minFiles = df_minFiles.sort_values('Dates')
df_minFiles = df_minFiles.reset_index(drop=True)
df_minFiles.head(10)

                              FileNames       Dates
0  us.tmin_nohads_ll_20060101_float.tif  2006-01-01
1  us.tmin_nohads_ll_20060102_float.tif  2006-01-02
2  us.tmin_nohads_ll_20060103_float.tif  2006-01-03
3  us.tmin_nohads_ll_20060104_float.tif  2006-01-04
4  us.tmin_nohads_ll_20060105_float.tif  2006-01-05
5  us.tmin_nohads_ll_20060106_float.tif  2006-01-06
6  us.tmin_nohads_ll_20060107_float.tif  2006-01-07
7  us.tmin_nohads_ll_20060108_float.tif  2006-01-08
8  us.tmin_nohads_ll_20060109_float.tif  2006-01-09
9  us.tmin_nohads_ll_20060110_float.tif  2006-01-10

**We could delete the dates from the DataFrame at this point as we have sorted the file names
<br />
However, I'm still leaving it in there - may come in handy at a later point
<br />
We now want to import the images and store them in the DataFrame
<br />
Also have to set the cwd of the OS to the one that has the images**

In [19]:
os.chdir("/Users/sabhyachhabria/Desktop/GitHub/Weather-Instablity-Analysis/data/maxTempsData/")
maxTIFImages = []
for index, row in df_maxFiles.iterrows():
    im = Image.open(row['FileNames'])
    maxTIFImages.append(im)

**Add the image files to the DataFrame**

In [13]:
df_maxFiles['Images'] = pd.Series(maxTIFImages)
df_maxFiles.head()

,FileNames,Dates,Images
0,us.tmax_nohads_ll_20060101_float.tif,2006-01-01,<PIL.TiffImagePlugin.TiffImageFile image mode=...
1,us.tmax_nohads_ll_20060102_float.tif,2006-01-02,<PIL.TiffImagePlugin.TiffImageFile image mode=...
2,us.tmax_nohads_ll_20060103_float.tif,2006-01-03,<PIL.TiffImagePlugin.TiffImageFile image mode=...
3,us.tmax_nohads_ll_20060104_float.tif,2006-01-04,<PIL.TiffImagePlugin.TiffImageFile image mode=...
4,us.tmax_nohads_ll_20060105_float.tif,2006-01-05,<PIL.TiffImagePlugin.TiffImageFile image mode=...

**Now we want to create a numpy array for each image with the pixel values
<br />
Things may get a little complicated here**

In [14]:
maxImageArrays = []
for index, row in df_maxFiles.iterrows():
    imarray = np.array(row['Images'])
    maxImageArrays.append(imarray)

# Now, each image has it's own array of pixel representations
# Again, we add this to the DataFrame
df_maxFiles['ImageArrays'] = pd.Series(maxImageArrays)
df_maxFiles.head()

,FileNames,Dates,Images,ImageArrays
0,us.tmax_nohads_ll_20060101_float.tif,2006-01-01,<PIL.TiffImagePlugin.TiffImageFile image mode=...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
1,us.tmax_nohads_ll_20060102_float.tif,2006-01-02,<PIL.TiffImagePlugin.TiffImageFile image mode=...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
2,us.tmax_nohads_ll_20060103_float.tif,2006-01-03,<PIL.TiffImagePlugin.TiffImageFile image mode=...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
3,us.tmax_nohads_ll_20060104_float.tif,2006-01-04,<PIL.TiffImagePlugin.TiffImageFile image mode=...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
4,us.tmax_nohads_ll_20060105_float.tif,2006-01-05,<PIL.TiffImagePlugin.TiffImageFile image mode=...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."

In [15]:
# Now we do all of the image importing for the minimum temperatures
os.chdir("/Users/sabhyachhabria/Desktop/GitHub/Weather-Instablity-Analysis/data/minTempsData/")
minTIFImages = []
for index, row in df_minFiles.iterrows():
    im = Image.open(row['FileNames'])
    minTIFImages.append(im)

# Add the image files to the DataFrame
df_minFiles['Images'] = pd.Series(minTIFImages)
df_minFiles.head()

,FileNames,Dates,Images
0,us.tmin_nohads_ll_20060101_float.tif,2006-01-01,<PIL.TiffImagePlugin.TiffImageFile image mode=...
1,us.tmin_nohads_ll_20060102_float.tif,2006-01-02,<PIL.TiffImagePlugin.TiffImageFile image mode=...
2,us.tmin_nohads_ll_20060103_float.tif,2006-01-03,<PIL.TiffImagePlugin.TiffImageFile image mode=...
3,us.tmin_nohads_ll_20060104_float.tif,2006-01-04,<PIL.TiffImagePlugin.TiffImageFile image mode=...
4,us.tmin_nohads_ll_20060105_float.tif,2006-01-05,<PIL.TiffImagePlugin.TiffImageFile image mode=...

In [16]:
minImageArrays = []
for index, row in df_minFiles.iterrows():
    imarray = np.array(row['Images'])
    minImageArrays.append(imarray)

# Now, each image has it's own array of pixel representations
# Again, we add this to the DataFrame
df_minFiles['ImageArrays'] = pd.Series(minImageArrays)
df_minFiles.head()

,FileNames,Dates,Images,ImageArrays
0,us.tmin_nohads_ll_20060101_float.tif,2006-01-01,<PIL.TiffImagePlugin.TiffImageFile image mode=...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
1,us.tmin_nohads_ll_20060102_float.tif,2006-01-02,<PIL.TiffImagePlugin.TiffImageFile image mode=...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
2,us.tmin_nohads_ll_20060103_float.tif,2006-01-03,<PIL.TiffImagePlugin.TiffImageFile image mode=...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
3,us.tmin_nohads_ll_20060104_float.tif,2006-01-04,<PIL.TiffImagePlugin.TiffImageFile image mode=...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
4,us.tmin_nohads_ll_20060105_float.tif,2006-01-05,<PIL.TiffImagePlugin.TiffImageFile image mode=...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."

**Finally, what we have here is two pandas DataFrames that contain the following features:**
- File Names
- Dates
- Actual Images
- 2D Array for each Image of pixel values
<br />

In [45]:
# num rows for each image array
print(len(df_minFiles['ImageArrays'][0]))
# num cols for each image array
print(len(df_minFiles['ImageArrays'][0][0]))

71
141

**At this point it would be helpful to see how a map looks.**
<br />
**The map below represents information for a single day**
<br />
**There grid is $71 \times 141$ - there is information for $10011$ different locations.**
<br />
<img src="../assets/sample.png" style="width: 500px; height: 300px;">
<br />
**The areas in white represent locations for which we do have temperature readings and those that are in black the days for which we don't have temperature readings.**
<br />
**Now, if we "stack" these images on top of each other, what we have is for each of the $10011$ locations is the max and min temperature at the location for every single day in our time period. In more programming relavent terms, we have, for each location, two one dimensional arrays that look like:**
<br />
<img src="../assets/array_sample.png" style="width: 600px; height: 250px;">

# Implementation
**I will now use the segmented least square algorithm I developed in the other notebook over here!**

In [1]:
# I will first write some helper functions that let us calculate the a and b values for any given i and j (i<j)
def getA(i, j, data):
    # the first summation in the formula
    sum1 = 0
    for k in range(i, j+1):
        sum1 += (data['X'][k] * data['Y'][k])
    
    # the second summation in the formula
    sum2 = 0
    for k in range(i, j+1):
        sum2 += data['X'][k]
        
    # the third summation in the formula
    sum3 = 0
    for k in range(i, j+1):
        sum3 += data['Y'][k]
    
    # the fourth summation in the formula
    sum4 = 0
    for k in range(i, j+1):
        sum4 += (data['X'][k] * data['X'][k])
    
    # the fifth summation in the formula
    sum5 = sum4**2
    
    dif = j-i

    return ((dif*sum1)-(sum2*sum3))/((dif*sum4)-sum5)


# getting the B value
def getB(i, j, data, a):
    # the first summation in the formula
    sum1 = 0
    for k in range(i, j+1):
        sum1 += data['Y'][k]
    
    # the second summation in the formula
    sum2 = 0
    for k in range(i, j+1):
        sum2 += data['X'][k]
        
    dif = j-i
    
    return (sum1 - (a * sum2))/(dif)


# We now write a helper function that gets us the sum of the squared error for p_i ... p_j
def getSSE(i, j, data):
    sse = 0
    for k in range(i, j+1):
        a = getA(i, j, data)
        b = getB(i, j, data, a)
        sse += ((data['Y'][k] - (a * data['Y'][k]) - b)**2)
    return sse


# generating the table for p_i --> p_j forall i < j
# so 0..(1,2,3,4,5,...,n), 1..(2,3,4,5,...,n), 2..(3,4,5,...,n), 3..(4,5,6,...,n)
def getErrTable(data):
    num_points = len(data)
    # Initialize empty table
    E = [[0 for i in range(num_points)] for i in range(num_points)]
    # We now want to populate this table with SSE values for all i,j pairs (i<j)
    for i in range(num_points):
        for j in range(i+1, num_points):
            E[i][j] = getSSE(i,j,data)

            
            
# actual DP algorithm
def segLeastSqs(data, errors, C):
    # initialize new array of size 'n' to store optimal solutions of subproblems
    n = len(data)
    OPT = [0 for i in range(n)]
    
    # array to store the indices of 'i' values that minimize OPT[j]
    indices = [0 for i in range(n)]
    
    # populate array M and retrun the final value
    for j in range (1,n):
        minimum = float("inf")
        for i in range(1, j):
            val = errors[i][j] + C + OPT[i-1]
            if val < minimum:
                minimum = val
                indices[j] = i
        OPT[j] = minimum
    return OPT[n-1], indices


# tracing the output to get the number of segments
def getNumSegs(arr):
    num_segments = 0
    for x in range(1, len(arr)):
        # everytime the value changes, it means a new segment was used
        if arr[x] > arr[x-1]:
            num_segments += 1
    return num_segments